// %p goal details

.body
    %img#bill-logo{src: "/logo/bill-2.png", width: "22%"}
    %img#scan-logo{src: "/logo/camera-black.png", width: "10%"}
    %img#world-logo{src: "/logo/earth-black.png", width: "10%"}
    

.container
    #invest
        Invest
    %img{:id => "house",:height => "42", :src => "assets/house_2.png", :width => "100%", :height => "auto"}
    %img{:id => "house_info",:height => "42", :src => "assets/house_info.jpg", :width => "100%", :height => "auto"}
    
    
    
:css
    * {
    padding: 0;
    margin: 0;
    }

    .container {
        position: absolute;
        width: 100%;
        length: 100%;
        background-color: #00bfff;
    }
    
    #house {
        position: relative;
        // top: 50%;
        top: 80px;
    }
    
    #house_info {
        position: relative;
        // top: 50%;
        top: 110px;
    }
    
    body{
        // width: 100%;
        // length: 100%;
        background-image: url("assets/sky_background2.png");
        background-size: 135%;
        // length: 200%;
        background-repeat: no-repeat;
    }
    
    #bill-logo{
        left:15px;
        top: 15px;
        z-index: 80;
        position: absolute;
        opacity: 0.5;
    }
    #scan-logo{
        left:15px;
        bottom: 15px;
        z-index: 80;
        position: absolute;        
        opacity: 0.5;
    }
    #world-logo{
        right:15px;
        bottom: 15px;
        z-index: 80;
        position: absolute;        
    }
    
    // button {
    //     position: relative;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
    
    #invest {
        position: relative;
        top: 45%;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
        font-size: 200%;
        background-color: green;
        width: 150px
    }
    
:coffeescript
    document.getElementById('bill-logo').addEventListener 'click', ->
        window.location = "vignette/agent";
    document.getElementById('scan-logo').addEventListener 'click', ->
        window.location = "vignette/scan";
    document.getElementById('world-logo').addEventListener 'click', ->
        window.location = "map_anime";
    document.getElementById('invest').addEventListener 'click', ->
        window.location = "map_anime";