// IGNORE, BUT KEEP THIS LINE (Back button)   
= render :partial => "application/back_to_root"

#button_class
    %button#control_button1.btn.btn-primary.btn-xs-block
        %span Next1
    %button#control_button2.btn.btn-primary.btn-xs-block
        %span Next2
    %button#control_button3.btn.btn-primary.btn-xs-block
        %span Next3
    %button#control_button4.btn.btn-primary.btn-xs-block
        %span Next4
    %button#control_button5.btn.btn-primary.btn-xs-block
        %span Clean

:scss
    #button_class{
        height: 100%;
        width: 100%;
        color: white;
        font-family: Avenir, sans-serif;
        font-size: 4em;
        text-align: center;
        #control_button1{
            position: absolute;
            bottom: 70%;
            font-size: 60%;
            left:18%;
            border-radius: 30px;
        }
        #control_button2{
            position: absolute;
            bottom: 60%;
            font-size: 60%;
            margin: auto;
            left:18%;
            border-radius: 30px;
        }
        #control_button3{
            position: absolute;
            bottom: 50%;
            font-size: 60%;
            margin: auto;
            left:18%;
            border-radius: 30px;
        }
        #control_button4{
            position: absolute;
            bottom: 40%;
            font-size: 60%;
            margin: auto;
            left:18%;
            border-radius: 30px;
        }
        #control_button5{
            position: absolute;
            bottom: 30%;
            font-size: 60%;
            margin: auto;
            left:18%;
            border-radius: 30px;
        }
        }
:coffeescript
    $ ->
        count = 0
        console.log "WEBSOCKET TO MIRROR HERE"
        console.log "WEBSOCKET HANDLER FROM MIRROR HERE"
        connection = new WebSocket('wss://bill-dongjooshin.c9users.io:8081')
        connection.onmessage = (e) ->
            console.log e.data
            return
        connection.onopen = () ->
            connection.send 'Ping'
            return
        connection.onerror = (error) ->
            console.log 'WebSocket Error ' + error
            return
        document.getElementById('control_button1').addEventListener 'click', ->
            msg =
                identity: 'next1'
            connection.send JSON.stringify(msg)
            return
        document.getElementById('control_button2').addEventListener 'click', ->
            msg =
                identity: 'next2'
            connection.send JSON.stringify(msg)
            return
        document.getElementById('control_button3').addEventListener 'click', ->
            msg =
                identity: 'next3'
            connection.send JSON.stringify(msg)
            return
        document.getElementById('control_button4').addEventListener 'click', ->
            msg =
                identity: 'next4'
            connection.send JSON.stringify(msg)
            return
        document.getElementById('control_button5').addEventListener 'click', ->
            msg =
                identity: 'clean'
            connection.send JSON.stringify(msg)
            return
